body {
    font-family: 'Arial', sans-serif;
    background-color: navy;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
    background: url(https://64.media.tumblr.com/752e98a41362e1c7e51c7a50a78c179c/317f3fca563a82e5-a4/s1280x1920/187cb60ba078ceeefb7d36860495fdde9aec83b9.gif) no-repeat;
    background-size: cover;
  }
  .container {
    
        position: relative;
        width: 400px;
        height: 440px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 5);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow: hidden; */
        transition: heigth .2s ease;

  }
  
  #login-form,
  #register-form {
    text-align: center;
  }
  
  form {
    margin-top: 10  px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-form,
  .register-form {
    margin-top: 10px;
    color: #555;
  }
  
  .login-link,
  .register-link {
    color: navajowhite;    
    text-decoration: none;
    font-weight: bold;
  }